.informationBoard {
    position: relative;
    margin-top: 20px;
    min-height: 880px;
}
.wrapperUl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: var(--titleColor);
    top: 0;
    left:0;
}